%h1= @movie.title
.jumbotron
  %img{ src: @movie.cover, class: "poster"}
  %p
    %strong
      Rating
    = @movie.rating
  %p.description= @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
